.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 0.1px  black;
    margin: 2em;
    padding: 0px;
    width: 20vw;
    height: 43vh;
    border-radius: 5px;
}

.cardDetailsWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom : 10px;
    padding-left: 5px;
    margin-left:5px;
}

.capital {
    padding-bottom: 5px;
}

.region {
    padding-bottom: 5px;
}

.population {
    padding-bottom: 5px;
}

@media screen and (max-width: 900px) {
    .cardDetailsWrapper {
        flex-wrap: wrap;
    }
    .population {
        display: flex;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 700px) {
    .wrapper {
        height: 35vh;
        width: 20vh;
    }
    .cardDetailsWrapper {
        padding: 0.5em;
        flex-wrap: wrap;
        font-size: small;
    }

}

@media screen and (min-width:500px) and (max-width:699px) {
    .wrapper {
        padding: 1px;
        height: 40vh;
        width: 25vw;
    }
}

#name-value {
    display: flex;
    font-weight: bold;
    justify-content: flex-start;
    font-size: medium;
    margin-left: 5px;
    margin-bottom:5px;
}
.dark {
    background-color: hsl(207, 26%, 17%);
}

.light {
    background-color: hsl(0, 0%, 94%);
}

.lightElements {
    background-color:hsl(0, 0%, 100%);
    
}

.darkElements {
    background-color: hsl(209, 23%, 22%);
}

.label {
    font-weight: 400;
}

[class*="-value"] {
font-weight: 200;
margin-left: 8px;
}

