.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 0.1px  black;
    margin: 25px;
    padding: 10px;
    width: 18%;
    height: 8%;
    border-radius: 5px;
}

.cardDetailsWrapper {
    margin : 5px;
    padding: 10px;
}
#name-value {
    display: flex;
    font-weight: bold;
    justify-content: center;
    font-size: medium;
    margin: 10px;
}
.dark {
    background-color: hsl(209, 23%, 22%);
}

.light {
    background-color:hsl(0, 0%, 94%);
    
}

.label {
    font-weight: 400;
}

[class*="-value"] {
font-weight: 200;
margin-left: 8px;
}

