/* <uniquifier>: Use a unique and descriptive class name
 <weight>: Use a value from 200 to 1000 */

.nunito-sans-font {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: "200";
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}


.cardHolderWrapper {
    font-family: "Nunito Sans", sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media screen and (max-width:350px) {
  .cardHolderWrapper {
      flex-direction: column;
      align-content:space-around ;
  }
}

@media screen and (min-width:500px) {
  .cardHolderWrapper {
      flex-direction: row;
      justify-content: space-evenly;
  }
}
