.filterContainer {
    display:flex;
    justify-content: center;
    height: 5vh;
    width: 20vw;
    padding: 10px;
    margin: 10px;
    margin-top: 25px;
    border-radius: 5px;
}

@media screen and (max-width:600px) {
    .filterContainer {
      margin-right: 0px;
      justify-content: flex-end;
    }
    
  }

@media screen and (max-width:500px) {
    .filterContainer {
      font-size: small;
      flex-direction: column;
      flex-wrap: wrap;
      min-width: 90%;
    }
    #continentsList {
        width: 90%;
        height: 100%;
    }
  }

.dropdown {
    border-radius: 5px;
    height: 5vh;
    width: 22vw;
    appearance: none;
}

#continentsList {
    padding-left: 1em;
}

.dark {
    background-color: hsl(209, 23%, 22%);
}


.light {
    background-color: hsl(0, 0%, 52%);
    color: hsl(200, 15%, 8%)
}

.lightElements {
    background-color: hsl(0, 0%, 100%);
    color: hsl(200, 15%, 8%);
}

.darkElements {
    /*background-color: hsl(207, 26%, 17%);*/
    background-color:hsl(209, 23%, 22%);
    color: hsl(0, 0%, 100%);
}