
.modeClass {
    display: flex;
    align-items:right;
    margin-right: 0px;
    justify-content: flex-end;
    margin-right: 90px;
}

.ion-icon {
    align-items: center;
}

.modeText {
    margin-left: 10px;
}

.light {
    background-color: hsl(0, 0%, 98%);
    fill: hsl(200, 15%, 8%);
}

.dark {
    background-color: hsl(207, 26%, 17%);
    fill: hsl(0, 0%, 100%);
}
