.searchBar {
    margin: 20px;
    height: 32px;
    width : 250px;
/*    background-color: hsl(209, 23%, 22%); 
    color: hsl(0, 0%, 100%); */
    border-radius: 5px;
    border-color: none;
}

::placeholder {
    /*color: hsl(0, 0%, 100%); */
    opacity: 1; /* Firefox */
    padding: 50px;
}

ion-icon {
    margin-left: -260px;
    color: hsl(0, 0%, 100%);
}

.dark {
    background-color: hsl(209, 23%, 22%);
}

.light {
    background-color: hsl(0, 0%, 52%);
    color: hsl(200, 15%, 8%)
}