.searchFilterContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top:1em;
    width: 100%;

}

@media screen and (max-width:600px) {
  .searchFilterContainer {
    max-width: fit-content;
    justify-content: space-between;
    margin-right:0px;
    padding-right:0px;
  }
  
}

@media screen and (max-width:500px) {
  .searchFilterContainer {
    font-size: small;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 90%;

  }
}

@media screen and (min-width:500px) {
  .searchFilterContainer {
    margin-right:1em;
    justify-items: baseline;
  }
}

.dark {
    background-color: hsl(209, 23%, 22%);
  }
  
  .light {
    background-color: hsl(0, 0%, 94%);
  }