.searchFilterContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dark {
    background-color: hsl(209, 23%, 22%);
  }
  
  .light {
    background-color: hsl(0, 0%, 98%);
  }