.containerSingle {
  display: flex;
  justify-content: self;
  flex-direction: column;

}

.backButton {
  border: 1px;
  padding: 5px;
  margin: 5px;
  align-items:left;
}

.details {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.otherDetails {
  padding-top: 1px;
}

.flag {
  width: 30%;
}

.dark {
    background-color: hsl(209, 23%, 22%);
  }
  
  .light {
    background-color: hsl(0, 0%, 98%);
  }