.container {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    height: 50px;
}

.headerTitle {
    margin-left: 10px;
    font-weight: bold;
}

.lightElements {
    background-color: hsl(0, 0%, 100%);
    color: hsl(200, 15%, 8%);
}

.darkElements {
    /*background-color: hsl(207, 26%, 17%);*/
    background-color:hsl(209, 23%, 22%);
    color: hsl(0, 0%, 100%);
}

