.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
}

.headerTitle {
    margin-left: 10px;
    align-content: center;
    font-weight: bold;
}

.light {
    background-color: hsl(0, 0%, 98%);
    color: hsl(200, 15%, 8%);
}

.dark {
    background-color: hsl(207, 26%, 17%);
    color: hsl(0, 0%, 100%);
}

