
.container {
  display: flex;
  /* background:  hsl(207, 26%, 17%);*/
  margin-top: -10px;
  padding:10px;
}
.searchResultWrapper {
  height: 100vh;
}

.dark {
  background-color: hsl(209, 23%, 22%);
}

.light {
  background-color: hsl(0, 0%, 94%)
}